body {
    margin: 0;
    text-align: center;
    font-family: Quicksand, cursive;
    color: #576F72;
}

h1 {
    font-size: 90px;
    font-family: Quicksand, sans-serif;
    position: relative;
    margin-bottom: 7%;
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 70px;
        margin-top: 10%;
    }
}

h2 {
    font-size: 2.5em;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-size: 150%;
    font-family: Montserrat, sans-serif;
}

img {
    width: 30%;
}
@media screen and (max-width: 1079px) {
    img {
        width: 40%;
    }
}
@media screen and (max-width: 991px) {
    img {
        width: 45%;
    }
}
@media screen and (max-width: 767px) {
    img {
        width: 30%;
    }
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    color: #576F72;
    margin: 0px 20px;
}

a:hover {
    color: #7D9D9C;
}

hr {
    margin: 0;
    border-color: #576F72;
    opacity: 0.7;
}

/* ---------------------------- index.html ---------------------------- */
/* -------------------------------------------------------------------- */

/* ---------------------------- Navigation ---------------------------- */

.navbar {
    font-size: 20px;
    background-color: #DAEAF1;
    padding-right: 10px;
}

.navbar-toggler-icon {
    height: 20px;
    width: 20px;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
}

.navbar-nav li {
    padding-left: 15px;
    padding-right: 15px;
    color: #576F72;
}

.navbar-nav li a {
    color: #576F72;
}

.navbar-nav li a:hover {
    color: #7D9D9C;
}

/* ---------------------------- Title ---------------------------- */

#title {
    position: relative;
    overflow: hidden;
    height: 70vw;
    min-height: 60vh;
}

#title .container-fluid {
    padding: 15% 8% 10%;
}
@media screen and (max-width: 425px) {
    #title .container-fluid {
        padding: 15% 10% 3%;
    }
}

.wall-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    object-fit: cover;
}

/* ---------------------------- Content ---------------------------- */

#content {
    background-color: #C6DCE4;
}

#content .container-fluid{
    padding: 10% 8% 7%;
}
@media screen and (max-width: 425px) {
    #content .container-fluid{
    padding: 25% 8% 7%;
}
}

#profile-img {
    border-radius: 50%;
}

.main-container {
    margin-bottom: 10%;
}

.main-container h2 {
    text-align: left;
}

.main-container p {
    text-align: left;
}

.col {
    margin-bottom: 5%;
}
@media screen and (max-width: 767px) {
    .col {
        margin-bottom: 15%;
    }
}


/* ---------------------------- about.html ---------------------------- */
/* -------------------------------------------------------------------- */

.about-me {
    text-align: left;
    font-size: 130%;
}

/* ---------------------------- contact.html ---------------------------- */
/* ---------------------------------------------------------------------- */

.contact-me {
    text-align: left;
    font-size: 130%;
}

/* ---------------------------- portfolio.html ---------------------------- */
/* ------------------------------------------------------------------------ */

.project {
    min-height:550px;
    height:auto;
    background:#DAEAF1;
    border:1px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
    overflow:hidden;
}

.project-radius{
    border-radius:7px;
}

.project-img {
    width: auto;
    height: 120px;
    margin-top: 20px;
}

.project-img:hover {
    height: 140px;
    width: auto;
}

.project-success {
    border-color: #6E85B7;
}

.project-content {
    padding: 20px;
}

.project-content p {
    font-size: 120%;
}

.lead {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* ---------------------------- Footer ---------------------------- */

#footer{
    background-color: #FFE6E6;
}

.footer-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-container a{
    color: #B2C8DF;
}

.footer-container a:hover{
    color: #6E85B7;
}


