{% extends "layout.html" %}

{% block title %}
<img class="img-fluid opacity-25" src="{{ url_for('static', filename='img/about-bg.jpg') }}" alt="about pic">
<div class="text-overlay">
  <h1 class="title">About me</h1>
  <p class="subheading">This is who I am.</p>
</div>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-10 mx-auto text-start about-me">
    <p>
      I am a bilingual aerospace engineer, graduated in 2021. Was co-Director of the aerodynamics team in
      the formula SAE project at National Technology University, Haedo. I have extensive experience in the
      academic field, working as a Fluid Mechanics professor since 2018, in charge of the practical area.
      Currently, I am training myself for becoming a full-stack developer.
    </p>
    <p>
      In the field of engineering I have knowledge of programs such as Wolfram Mathematica, SIMSCALE CFD,
      SolidWorks and Matlab.
    </p>
    <p>
      On the programming side, I work on Python, JavaScript, HTML, CSS, Bootstrap, React, Django, Flask, RESTful APIs,
      Postgres and SQLite.
    </p>
    <p>
      I am passionate about all kinds of sports, but specifically football and paddle, which I try to play
      3 or 4 times a week.
    </p>
  </div>
</div>
{% endblock %}
