{% include "header.html" %}

<!-- Page Header -->
<div class="container-fluid" id="header">
    <h1 class="title">I am Pablo</h1>
    <img class="wall-img" src="{{ url_for('static', filename='img/main-bg.jpg') }}" alt="wall-pic">
    <figure>
        <blockquote class="blockquote">
            <p>“Don’t worry about failure; you only have to be right once.”</p>
        </blockquote>
        <p class="blockquote-footer">
            Drew Houston, founder and CEO of Dropbox
        </p>
    </figure>
</div>


<!-- Main Content -->
<div class="container-fluid" id="content">
    <div class="row">

        <div class="main-container d-flex flex-column flex-md-row">
            <div class="col-lg-6 col-md-6">
                <a href="{{ url_for('about') }}"><img class="index-img my-auto" id="profile-img"
                                                      src='{{ url_for("static", filename="img/profile.jpg")}}'
                                                      alt="profile-img"></a>
            </div>
            <div class="col-lg-4 col-md-6" id="text-1">
                <h2>What's up?</h2>
                <p>
                    I am an aerospace engineer 🚀 with a passion for coding 💻.
                </p>
            </div>
        </div>

        <div class="main-container d-flex  flex-column flex-md-row-reverse">
            <div class="col-lg-6 col-md-6">
                <a href="{{ url_for('static', filename='files/cv-pablo_uboldi_v2.pdf') }}" target="_blank" rel="noreferrer"><img class="index-img  my-auto" src='{{ url_for("static", filename="img/cv.png")}}' alt="cv-img"></a>
            </div>
            <div class="col-lg-4 col-md-6" id="text-2">
                <h2>My resume</h2>
                <p>
                    Hey! Do you think I could be a good acquisition to your business? Check out my CV!
                </p>
            </div>
        </div>


        <div class="main-container d-flex  flex-column flex-md-row">
            <div class="col-lg-6 col-md-6">
                <a href="{{ url_for('portfolio') }}"><img class="index-img  my-auto"
                                                          src='{{ url_for("static", filename="img/portfolio.png")}}'
                                                          alt="portfolio-img"></a>
            </div>
            <div class="col-lg-4 col-md-6" id="text-3">
                <h2>My portfolio</h2>
                <p>
                    Check out some projects I've been working on and tell me which one is your favourite.
                </p>
            </div>
        </div>


    </div>
</div>
<hr>

{% include "footer.html" %}