{% extends "layout.html" %}

{% block title %}
<img class="img-fluid opacity-25" src="{{ url_for('static', filename='img/main-bg.jpg') }}" alt="wall-pic">
<div class="text-overlay">
  <h1 class="title">I am Pablo</h1>
  <figure>
    <blockquote class="blockquote">
      <p>“Don’t worry about failure; you only have to be right once.”</p>
    </blockquote>
    <p class="blockquote-footer">
      Drew Houston, founder and CEO of Dropbox
    </p>
  </figure>
</div>
{% endblock %}

{% block body %}
<div class="row">
  <div class="d-flex flex-column flex-md-row my-5">
    <div class="col col-lg-6 col-md-6 my-auto">
      <a href="{{ url_for('about') }}">
        <img class="img-fluid rounded-circle img-home" id="profile-img"
             src='{{ url_for("static", filename="img/profile.jpg")}}'
             alt="profile-img">
      </a>
    </div>
    <div class="col col-lg-4 col-md-4 my-auto text-start">
      <h2>What's up?</h2>
      <p>
        I am an aerospace engineer 🚀 with a passion for coding 💻.
      </p>
    </div>
  </div>

  <div class="main-container d-flex flex-column flex-md-row-reverse my-5">
    <div class="col col-lg-6 col-md-6 my-auto">
      <a href="{{ url_for('static', filename='files/pablos_resume.pdf') }}" target="_blank" rel="noreferrer">
        <img class="img-fluid rounded-circle img-home" src='{{ url_for("static", filename="img/cv.png")}}' alt="cv-img">
      </a>
    </div>
    <div class="col col-lg-4 col-md-4 my-auto text-start">
      <h2>My resume</h2>
      <p>
        Hey! Do you think I could be a good acquisition to your business? Check out my CV!
      </p>
    </div>
  </div>

  <div class="main-container d-flex flex-column flex-md-row my-5">
    <div class="col col-lg-6 col-md-6 my-auto">
      <a href="{{ url_for('portfolio') }}">
        <img class="img-fluid rounded-circle img-home" src='{{ url_for("static", filename="img/portfolio.png")}}' alt="portfolio-img">
      </a>
    </div>
    <div class="col col-lg-4 col-md-4 my-auto text-start">
      <h2>My portfolio</h2>
      <p>
        Check out some projects I've been working on and tell me which one is your favourite.
      </p>
    </div>
  </div>


</div>
{% endblock %}
