<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pablo Uboldi</title>

    <link rel="icon" href="{{ url_for('static', filename='img/logo_2.png')}}">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    <!-- Custom fonts for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&family=Sacramento&display=swap"
          rel="stylesheet">

    <!-- FontAwesome Kit -->
    <script src="https://kit.fontawesome.com/9666f27fb4.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">

</head>

<body>

<!--Navigation-->
<section id="navigation">
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('home')}}">
                <img src='{{ url_for("static", filename="img/logo_5.png")}}' alt="logo-pic">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <ul class="navbar-nav nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('portfolio') }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<!--Title-->
<section id="title">
    <div class="container-fluid">
        <!-- Title Header -->
        <img class="wall-img" src="{{ url_for('static', filename='img/portfolio-bg.jpg') }}" alt="wall-pic">

        <h1 class="title">My Projects</h1>
        <p class="subheading">Check out what I've been up to.</p>

    </div>
</section>

<!-- Main Content -->
<section id="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="project project-radius project-success">
                    <div class="project-content">
                        <h3 class="lead">
                            Cone in Supersonic Flow - Taylor-Maccoll
                        </h3>
                        <p>
                            This code solves the <strong>Taylor-Maccoll</strong> differential equations for a 3D
                            cone submerged in a
                            <strong>supersonic flow</strong>, with graphs included.
                        </p>
                        <a href="https://github.com/pablouboldi/cone_in_supersonic_flow" target="_blank"><img
                            class="project-img"
                            src='{{ url_for("static", filename="img/supersonic-cone.png")}}'
                            alt="project-6-img"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="project project-radius project-success">
                    <div class="project-content">
                        <h3 class="lead">
                            Morse Code Converter
                        </h3>
                        <p>
                            This app can translate <strong>morse to text</strong> AND <strong>text to morse</strong>.
                            When translating text to morse, it sounds it out too!
                        </p>
                        <a href="https://github.com/pablouboldi/morse-text-converter" target="_blank"><img
                            class="project-img"
                            src='{{ url_for("static", filename="img/morse.png")}}'
                            alt="project-1-img"
                        ></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="project project-radius project-success">
                    <div class="project-content">
                        <h3 class="lead">
                            Wordle Game Statistics
                        </h3>
                        <p>
                            Do you like playing the <strong>Wordle Game</strong>? With this app, you can keep track
                            of
                            your progress, as well as your friends'.
                        </p>
                        <a href="https://github.com/pablouboldi/wordle-game-stats" target="_blank"><img
                            class="project-img"
                            src='{{ url_for("static", filename="img/wordle.png")}}'
                            alt="project-2-img"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="project project-radius project-success">
                    <div class="project-content">
                        <h3 class="lead">
                            Text-Based Tic-Tac-Toe
                        </h3>
                        <p>
                            This is a simple implementation of the famous <strong>tic-tac-toe</strong> game.
                        </p>
                        <a href="https://github.com/pablouboldi/tic-tac-toe" target="_blank"><img
                            class="project-img"
                            src='{{ url_for("static", filename="img/tic_tac_toe.png")}}'
                            alt="project-3-img"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="project project-radius project-success">
                    <div class="project-content">
                        <h3 class="lead">
                            Watermark App
                        </h3>
                        <p>
                            Do you wish to add your brand to your images? Now you can!
                            This code inserts a <strong>watermark</strong> of your choosing to whichever image you
                            like.
                        </p>
                        <a href="https://github.com/pablouboldi/watermark-img" target="_blank"><img
                            class="project-img"
                            src='{{ url_for("static", filename="img/watermark.png")}}'
                            alt="project-4-img"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="project project-radius project-success">
                    <div class="project-content">
                        <h3 class="lead">
                            Breakout Game
                        </h3>
                        <p>
                            This is a super simple GUI implementation of the famous <strong>Breakout Game</strong>.
                        </p>
                        <a href="https://github.com/pablouboldi/breakout-game" target="_blank"><img
                            class="project-img"
                            src='{{ url_for("static", filename="img/breakout.png")}}'
                            alt="project-5-img"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="project project-radius project-success">
                    <div class="project-content">
                        <h3 class="lead">
                            To-do List Website
                        </h3>
                        <p>
                            In this website you can create your own <strong>to-do list</strong> that will be saved for
                            future use inside your personal user account. I <strong>do NOT share</strong> your data with anyone.
                        </p>
                        <a href="https://pablo-todo-list.herokuapp.com" target="_blank"><img
                            class="project-img"
                            src='{{ url_for("static", filename="img/todo.png")}}'
                            alt="project-7-img"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<hr>

{% include "footer.html" %}