{% include "header.html" %}

<!-- Page Header -->
<div class="container-fluid" id="header">
    <h1 class="title">Thank you!</h1>
    <img class="wall-img" src="{{ url_for('static', filename='img/thanks-bg.jpg') }}" alt="thanks pic">
    <p class="subheading">Your message has been sent successfully.</p>
</div>

<!-- Main Content -->
<!--<div class="container-fluid" id="content">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-6 col-md-10 mx-auto">-->
<!--            <p class="about-me">-->
<!--                I graduated from the National Technological University of Buenos Aires, and,-->
<!--                currently, I am training myself for becoming a full-stack developer.-->
<!--            </p>-->
<!--            <p class="about-me">-->
<!--                In the field of engineering I have intermediate knowledge of programs such as-->
<!--                Wolfram Mathematica, SIMSCALE CFD, SolidWorks and Matlab.-->
<!--            </p>-->
<!--            <p class="about-me">-->
<!--                On the programming side, I like to work on HTML, CSS, Bootstrap, Flask, RESTful-->
<!--                APIs, SQLite and-->
<!--                Data Science.-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<hr>

{% include "footer.html" %}